.trending {
  background-image: url("../../assets/img/bg-line.png");
  background-color: #fef1ec;
  background-repeat: repeat;
  background-size: cover;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide Pagination (Dots) */
.swiper-pagination {
  display: none !important;
}

/* Hide Navigation (Next/Prev Buttons) */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Card styles */
.custom-card-news {
  background-color: transparent;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: block;
  position: relative;
  height: fit-content;
  
}

.custom-card-news:hover {
  transform: translateY(-5px);
}

.custom-card-image {
  position: relative;
  width: 100%;
  height: 250px; /* Ensure a visible height */
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.custom-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits the container */
  display: block;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.custom-card-image .custom-label {
  position: absolute;
  top: 16px;
  left: 16px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #1c1c1c;
  z-index: 3;
  cursor: pointer;
  border: none;
}

.custom-card-image .custom-label:hover {
  color: #007bff;
}

.custom-card-body {
  position: relative;
  background-color: white;
  padding: 24px;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.custom-card-info {
  border-radius: 15px;
}

.custom-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.custom-card-meta span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.875rem;
  color: #6c757d;
  gap: 4px;
}

.custom-card-meta .custom-icon {
  width: 16px;
  height: 16px;
}

.custom-card-title {
  margin-bottom: 20px;
}

.custom-card-title a {
  text-decoration: none;
  color: inherit;
}

.custom-card-title a:hover {
  color: #007bff;
}

.custom-card-author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.custom-card-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-card-author p {
  margin: 0;
}

@media (max-width: 767px) {
  .section-box {
    padding: 40px 0;
  }

  .custom-card-meta {
    flex-wrap: wrap;
    gap: 8px;
  }
}
