.mainContainer {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.blog-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 56px);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}
