

.theme-toggle {
  color: var(--text-primary) !important;
}

.navbar-link {
  position: relative;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar-link:hover::before, .navbar-link.active::before {
  width: 100%;
}
