/* .footer-content {

  .form-control,
  .form-select,
  .btn {
    border-radius: 0 !important;
    border: 0 !important;
    padding: 1rem;
    box-shadow: none !important;
    font-size: smaller;
    color: #777;
  }
  .form-control {
    border: 1px solid #eee !important;
  }
} */

    .form-control,
    .form-select,
    .btn {
      border-radius: 0 !important;
      border: 0 !important;
      padding: 1rem;
      box-shadow: none !important;
      font-size: smaller;
      color: #777;
    }
    .form-control {
      border: 1px solid #eee !important;
    }
  }
  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: #565050;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .footer-title::before,
  .footer-title::after {
    content: "";
    flex: 1; 
    height: 1px;
    background: #eee; 
    margin: 0 10px; 
  }
  

