body{
    font-family: "Lora", "Montserrat" ;
}

.firstsection{
    width:90%;
    height: 481px;
}

.firstsection .lsection img{
border-radius: 90px;
}

.firstsection .rsection .title, .secondsection .rsection .title{
font-family: "Montserrat";
font-weight: 700;
font-size: 35px;
}

.firstsection .rsection p, .secondsection .rsection p{
font-family: "Lora";
font-weight: 400;
font-size: 20px;
}

.firstsection .rsection button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #5E503F;
    color: white;
    border: #5E503F;
}

.firstsection .rsection button:hover{
    background-color: white;
    border: white;
    color:  #5E503F;
}

.secondsection{
    width:90%;
    height: 481px;
}



