* {
    margin: 0;
    padding: 0;
}
body{

    font-family: "Lora", "Montserrat" ;
}
.imgcontainer{
    height: 150px;
    overflow : hidden
}
.firstsection{
    width:90%;
    height: 481px;
}



.firstsection .rsection .title, .secondsection .rsection .title{
font-family: "Montserrat";
font-weight: 700;
font-size: 35px;
}

.firstsection .rsection p, .secondsection .rsection p{
font-family: "Lora";
font-weight: 400;
font-size: 20px;
}

  
.zoomin:hover {
      transform: scale(1.05); 
      transition: transform 0.3s
        }
