:root {
  --primary-color: #5e503f !important;
  --secondary-color: #eae0d5 !important;
  --white-color: #ffffff !important;
  --dark-color: #0a0908 !important;
  --heading-font: "Montserrat", serif !important;
  --paragraph-font: "Lora", serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  min-height: 100vh;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.font-heading {
  font-family: var(--heading-font);
}

.font-paragraph {
  font-family: var(--paragraph-font);
}
